* {
  font-family: 'Arial';
}
.oponents, .controls, .score-board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  padding: 5px;
}
.score-board {
  h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    span {
      font-size: 40px;
    }
  }
}
.oponents {
  .player {
     width: 200px;
     margin: 0 30px;
     .title {
       font-size: 20px; 
       text-transform: uppercase;
       margin: 0;
    }
    .hp-wrapper {
      background: #ccc;
      width: 100%;
      height: 35px;
    }
    .hp-count {
      height: 25px;
      width: 100%;
      background: green;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      padding: 10px 0 0;
     }
  }
}
.intro-screen, .controls {
  &.controls-inline {
    display: flex;
    flex-direction: column;  
  }
  input {
    padding: 10px;
    font-size: 14px;
  }
  .btn {
    background: white;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    margin-right: 7px;
    &.btn-small {
      font-size: 10px;
      border: 0;
      background: none;
    }
    &.red { background: red; }
    &.orange { background: orange; }
    &.green { background: #99ee99; }
    &.gray { background: #aaa; }
  }
}
.combat-history {
  box-shadow: 5px 5px 5px 0 #ccc;
  border: 1px solid #ccc;
  padding: 25px;
  margin: 10px;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      border: 1px solid #ccc;
      margin-bottom: 5px;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      &.enemy-missed, &.you-missed {
        background: #aaa;
        color: #333;
      }
      &.enemy-hit {
        background: #ff9999;
        color: #990000;
      }
      &.enemy-heal {
        background: purple;
        color: white;
      }
      &.you-hit {
        background: #ccccff;
        color: #000099;
      }
      &.you-hit-special {
        background: orange;
        color: #555;
      }
      &.you-heal {
        background: #99ee99;
        color: #aa55aa; 
      }
    }
  }
}